.planning-poker {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        background: url(../imgs/background.webp);
        background-size: cover; // mejor cover que 100% para que no se deforme
        background-position: center;
        min-height: 100%;
        position: relative; // importante para el pseudo-elemento

        &::before {
            content: "";
            position: absolute;
            inset: 0; // top:0, right:0, bottom:0, left:0
            pointer-events: none; // no bloquea clicks
            background: linear-gradient(to right,
                    rgba(0, 0, 0, 0.6) 0%,
                    rgba(0, 0, 0, 0) 20%,
                    rgba(0, 0, 0, 0) 80%,
                    rgba(0, 0, 0, 0.6) 100%);
            z-index: 1;
        }

        // asegúrate que el contenido esté por encima del fade
        >* {
            position: relative;
            z-index: 2;
        }
    }

    &__fields-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__field-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        input[type="checkbox"] {
            width: 30px;
            height: 30px;
        }
    }

    &__field-container--column {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        gap: 10px;

        input {
            width: 80%;
            font-size: 18px;
            border: 1px solid rgb(221, 221, 221);
        }
    }

    &__button-join-container {
        display: flex;
        justify-content: center;
    }

    &__button-join {
        width: 150px;
        padding: 10px 20px;
        color: white;
        background: rgb(65, 65, 184);
        border-radius: 15px;
        font-weight: bold;

        &:enabled:hover {
            opacity: 0.8;
        }

        &:disabled {
            opacity: 0.2;
            cursor: not-allowed;
        }
    }

    &__players-label {
        flex-basis: 70%;
    }

    &__players-input {
        border-radius: 5px;
        min-width: 0;
        text-align: center;
    }

    &__banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: 20px auto;
        padding: 18px 40px;
        background: linear-gradient(145deg, #111, #222); // efecto de placa
        border: 4px solid gold;
        border-radius: 16px;
        box-shadow:
            0 4px 12px rgba(0, 0, 0, 0.6),
            0 0 15px rgba(255, 215, 0, 0.6); // brillo dorado

        h1 {
            font-family: 'blockbuster', 'Courier New', Courier, monospace;
            text-transform: uppercase;
            font-size: 32px;
            margin: 0;
            background: linear-gradient(180deg, #ffd700 0%, #cdaa00 50%, #fff8dc 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 3px;

            text-shadow:
                0 0 6px rgba(255, 215, 0, 0.8),
                0 0 12px rgba(0, 0, 0, 0.8);
        }

        h4 {
            margin-top: 6px;
            font-size: 15px;
            color: #fff;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
        }
    }

    &__players-title-container {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-weight: bold;
        font-size: 15px;

        @media (max-width: 990px) {
            margin: 10px;
        }
    }

    &__players-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 10px;
        box-sizing: border-box;
        gap: 10px;
    }

    &__player {
        flex: 0 0 calc(50% - 10px);
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        background: rgb(233, 233, 233);
        padding: 10px;
        border-radius: 10px;
        gap: 10px;
        max-width: 250px;
        box-shadow:
            0 4px 6px rgba(0, 0, 0, 0.1),
            0 10px 20px rgba(0, 0, 0, 0.15);

        @media (max-width: 990px) {
            flex: 100%;
        }
    }

    &__player--me {
        background: rgb(248, 205, 124);
    }

    &__player-name-container {
        display: flex;
        align-items: center;
    }

    &__player-name {
        position: relative;
        text-transform: capitalize;
        font-weight: bold;
    }

    &__player-admin-label {
        position: absolute;
        color: rgb(146, 0, 0);
        font-size: 8px;
        top: -8px;
        left: 0;
    }

    &__voting-status {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
    }

    &__voting-status--show-votes {
        font-size: 15px;
        font-weight: bold;
        color: rgb(14, 14, 124);
    }

    &__voting-status--didnt-vote {
        padding-right: 6px;
        font-size: 12px;
    }

    &__cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        button {
            overflow: hidden;
            position: relative;
            border: 4px solid rgb(236, 236, 236);
            font-size: 30px;
            width: 60px;
            height: 100px;
            border-radius: 24px;
            font-weight: bold;
            box-shadow:
                0 4px 6px rgba(0, 0, 0, 0.1),
                0 10px 20px rgba(0, 0, 0, 0.15);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        button:hover:not(.planning-poker__card--selected) {
            transform: scale(1.1);
            z-index: 1;
        }
    }

    &__card--selected {
        transform: scale(1.3) rotate(-25deg) translateY(30px) translateX(-20px);
        z-index: 1;
    }

    &__top-icon {
        position: absolute;
        width: 20%;
        top: 0;
        left: 0;
    }

    &__bottom-icon {
        position: absolute;
        width: 20%;
        transform: rotate(180deg);
        bottom: 0;
        right: 0;
    }

    &__shine-card_test {
        content: '';
        position: absolute;
        top: -100%;
        left: -100%;
        width: 200%;
        height: 200%;
        background: linear-gradient(120deg,
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 60%);
        transform: rotate(25deg);
    }

    @keyframes shineMove {
        0% {
            transform: translate(-100%, -100%) rotate(25deg);
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        33.33% {
            transform: translate(100%, 100%) rotate(25deg);
            opacity: 1;
        }

        38% {
            opacity: 0;
        }

        100% {
            transform: translate(100%, 100%) rotate(25deg);
            opacity: 0;
        }
    }

    &__casino-text {
        font-family: 'Arial Black', Impact, sans-serif;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;

        /* efecto de pintura */
        text-shadow:
            0 1px 0 rgba(0, 0, 0, 0.2),
            0 2px 4px rgba(0, 0, 0, 0.4),
            0 0 6px rgba(255, 255, 255, 0.2);

        /* textura "desgastada" */
        background: repeating-linear-gradient(45deg,
                rgba(255, 255, 255, 0.1) 0,
                rgba(255, 255, 255, 0.1) 2px,
                transparent 2px,
                transparent 4px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 990px) {
            font-size: 30px;
        }
    }

    &__cards-title-container {
        display: flex;
        justify-content: center;
        padding: 10px;
        color: white;
    }

    &__average-container {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: bold;
        margin-top: 10px;
        color: white;
    }

    &__buttons-container {
        display: flex;
        justify-content: center;
        gap: 20px;

        button {
            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__delete-user-button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        background: rgb(168, 28, 28);
        color: white;
        height: 20px;

        svg {
            width: 15px;
            height: 15px;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__kickedoff-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__kickedoff-face {
        font-size: 50px;
    }

    &__elements-container {
        max-width: 1200px;
        justify-content: center;
        width: 100%;
        padding: 10px 30px;
        display: flex;

        @media (max-width: 990px) {
            flex-direction: column;
        }
    }

    &__element-players {
        flex: 40%;
    }

    &__element-cards {
        flex: 40%;
    }

}